// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
* {
        font-family: "Roboto", Arial, sans-serif;
}



h1 {
        font-weight: 100;
        color: #777;
}

h2{
  font-weight: 100;
  color: #777;
}
th {
  font-weight: 300;
  font-size: 20px;
  color: black;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/

  line-height: 1.9;/*行高*/
  background: #c0c0c0;/*背景色*/
  vertical-align: middle;/*上下中央*/
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

th:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

td {
    font-style: italic;
    font-weight: 100;
    font-size: 25px;
    padding: 15em 1em;
    margin: 15px 15px;
    width: 50%;
    color: black;/*文字色*/
    background: #90ee90;
    border: solid 3px #c0c0c0;/*線*/
    vertical-align: middle;/*上下中央*/


    position: relative;
    padding: 5px;
    margin: 3px;

}

i.material-icons {
    font-style: italic;
    line-height: 4.0;
    font-size: 0.5rem;
    position: relative;
    border-radius: 50%;
    margin: 3px;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons:after {
        content: "";
        width: 100%;
        height: 100%;
        border: solid 2px;
        transform: scale(0.8);
        position: absolute;
        top: -2px;
        left: -2px;
        border-radius: 50%;
        transition: all 0.3s ease;
}

i.material-icons:hover:after {
        transform: scale(1);
        box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

i.material-icons:nth-of-type(4) {
        background-color: #88b999;
}

i.material-icons:nth-of-type(4):hover {
        color: #88b999;
}

i.material-icons:nth-of-type(4):after {
        border-color: #88b999;
}

i.material-icons:nth-of-type(5) {
        background-color: #88b2b9;
}

i.material-icons:nth-of-type(5):hover {
        color: #88b2b9;
}

i.material-icons:nth-of-type(5):after {
        border-color: #88b2b9;
}

i.material-icons:nth-of-type(6) {
        background-color: #8897b9;
}

i.material-icons:nth-of-type(6):hover {
        color: #8897b9;
}

i.material-icons:nth-of-type(6):after {
        border-color: #8897b9;
}

i.material-icons:nth-of-type(7) {
        background-color: #af88b9;
}

i.material-icons:nth-of-type(7):hover {
        color: #af88b9;
}

i.material-icons:nth-of-type(7):after {
        border-color: #af88b9;
}

i.material-icons:nth-of-type(8) {
        background-color: #d59acb;
}

i.material-icons:nth-of-type(8):hover {
        color: #d59acb;
}

i.material-icons:nth-of-type(8):after {
        border-color: #d59acb;
}

i.material-icons:nth-of-type(1) {
        background-color: #cd8484;
}

i.material-icons:nth-of-type(1):hover {
        color: #cd8484;
}

i.material-icons:nth-of-type(1):after {
        border-color: #cd8484;
}

i.material-icons:nth-of-type(2) {
        background-color: #ec9f83;
}

i.material-icons:nth-of-type(2):hover {
        color: #ec9f83;
}

i.material-icons:nth-of-type(2):after {
        border-color: #ec9f83;
}

i.material-icons:nth-of-type(3) {
        background-color: #cdb274;
}

i.material-icons:nth-of-type(3):hover {
        color: #cdb274;
}

i.material-icons:nth-of-type(3):after {
        border-color: #cdb274;
}

i.material-icons:hover {
        background-color: transparent;
        transform: rotate(90deg);
        cursor: pointer;
        box-shadow: none;
}

p {
        color: #999;
        font-weight: 300;
        margin-top: 20px;
}

@media (min-width:1050px) {
    i.material-icons {
        padding:19px;
        margin:5px;
        font-size:2rem;
    }
}

@media (min-width:3993px) {
    i.material-icons {
        padding:20px;
        margin:10px;
        font-size:4rem;
    }
    i.material-icons:after {
        border-width:3px;
        top:-3px;
        left:-3px;
    }
}
